*{
  font-family: 'Karla';
}
.header{
  display: flex;
  align-items: center;
  height: 65px;
  padding: 10px;
  padding-left: 30px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  gap: 5px;
}

.header--img{
  object-fit: contain;
  height: 36px;
  width: 28px;
}

.header--text{
  margin-left: auto;
}

.form{
  display: grid;
  padding: 36px;
  grid-template-rows: 35px 45px ;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}

.form--input{
  border-radius: 5px;
  text-indent: 5px;
}

.form--button{
  color: white;
  border-radius: 5px;
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  cursor: pointer;
}

.meme{
  position:relative ;
}

.meme--img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* width: 477px; */
   height: 368px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}